.chao{
    color: blue;
    margin-left: 25%;
    border: 1px solid LightGray;
    width: 50%;
    padding: 2% 2% 2% 10%;
    font-size: 400%;
    margin-top: 10%;
}
.chao1{
    border: 1px solid LightGray;
    width: 10%;
    padding: 2% 2% 2% 2%;
    margin: 15% 10% 10% 75%;
}
.chao:hover{
    background: #00FF00;
}
.chao1:hover {
    background: #00FF00;
}